$primaryColor1: #330867;
$primaryColor2: #30cfd0;
$gradiant: linear-gradient(10deg, $primaryColor1 0%, $primaryColor2 100%);
$bgColor: rgb(253, 253, 253);
$lightBgColor: #f0f0f0;

$primaryTextColor: #071b2f;
$secondaryTextColor: #565e66;
$secondaryTextColor2: #848b92;
$lightTextColor: #fff;
$lightTextColor2: #e6e6e6;